
#seed-image{
    z-index: 2;
    bottom: 0;
}

#growth-image{
    z-index: 2;
    bottom: 0;
}

#sunflower-image{
    z-index: 2;
    bottom: 0;
}

#strawberry-image{
    z-index: 2;
    bottom: 0;
}

#lettuce-image{
    z-index: 2;
    bottom: 0;
}

.game-graphic {
  max-height: 33vmin;
  margin-bottom: 32px;
  position: absolute;
}



.hidden {
    visibility: hidden;
}
